# Environment Variables

# Node environment.
NODE_ENV=development

# Port for the server to listen on.
PORT=3000

# URL for OSRM service.
OSRM_URL=http://localhost:5000/route/v1/driving/

# Dispatch radius in meters.
DISPATCH_RADIUS=500

# Dispatch timeout in milliseconds.
DISPATCH_TIMEOUT=30000
